name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: ["pnpm lint", "pnpm typescript", "pnpm test"]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          node-version-file: ".nvmrc"
      - run: pnpm install --frozen-lockfile
      - run: pnpm prerelease
      - name: Run cis
        run: ${{ matrix.command }}
